<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoLocator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hehe{
            max-width: 400px;
            margin: auto;
            padding: 15px;
        }
        .buttoncss{
            background-color: #6d28d9;
            margin: auto;
            padding: 3px 10px;
            color: white;
        }
        /* .atagcss{
            margin-top: 3px;
        } */

    </style>
</head>
<body class="bg-gradient-to-b from-[#6d28d9] to-pink-500 h-screen ">
    <div class="flex flex-col bg-white mt-10 rounded hehe">
    <h1 class="text-center text-4xl my-5">Welcome to GeoLocator</h1>
    <button onclick="getLocation()" class="buttoncss rounded hover:bg-pink-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Get Location</button>
    <p id="location" class="text-center text-2xl my-5"></p>
    <a id="locationLink" class="atagcss buttoncss rounded hover:bg-pink-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300" href="" target="_blank"></a>
    <p class="text-center text-xs my-5">Do Not Store any type of data of user to Maintain their Privacy</p>
    </div>
    <script>
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            document.getElementById('location').innerHTML = 'Geolocation is not supported by this browser.';
          }
        }
        function showPosition(position) {
          const locationElement = document.getElementById('location');
          const locationLink=document.getElementById('locationLink')
          locationElement.innerHTML = `Latitude: ${position.coords.latitude}<br>Longitude: ${position.coords.longitude}`;
          var googleMapsUrl = "https://www.google.com/maps?q=" + position.coords.latitude + "," + position.coords.longitude;
          locationLink.innerHTML="Open Maps";
          locationLink.setAttribute("href", googleMapsUrl);
        }
      </script>
</body>
</html>